.hide {
  opacity: 0;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: all;
}
.show-search-bar {
  right: 0;
}
.hide-search-bar {
  right: -100%;
}
.mobile-screen-nav-active {
  opacity: 1;
  pointer-events: all;
  * {
    color: blue;
  }
}
