.swiper-container {
  width: 100vw;
}

.slide-container-for-header {
  position: relative;
  img {
    filter: brightness(60%);
  }
}

.slide-heading-and-button {
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: #02e1f5 !important;
  color: rgba(0, 0, 0, 0.666);
}

.slide-heading-and-button {
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 1px 1px #00000058;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: gainsboro;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    &:hover {
      color: #02e1f5;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 862px) {
    h3 {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
    button {
      display: none;
    }
    h2 {
      font-size: 1rem;
    }
  }
}
